@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Quicksand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Quicksand", sans-serif;
}

/* Custom styles for Toastify notifications */
/* Adjust styles for smaller screens */
@media only screen and (max-width: 768px) {
  .Toastify__toast-container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .Toastify__toast {
    margin: 2rem 0 0 4rem;
    width: 80%;
    border-radius: 0;
  }
}
